swagger: '2.0'
info:
  version: v1
  title:  API 
  description: Neoinix API
host: api.neoinix.com.br
securityDefinitions:
  _auth:
    type: oauth2
    tokenUrl: https://parceiro.neoinix.com.br/oauth2/token
    flow: application
    scopes:
      write: Permite modificar entidades na sua conta.
      read: Permite ler entidades na sua conta.
      company: Token da empresa usuaria dos sitemas NEOINIX deve usar company:tokenNeoinix
security:
  - _auth:
    - write
    - read
    - company
schemes:
  - https
basePath: /
tags:
- name: Employees
  description: |
            Employees

- name: InventoryTransactionTypes
  description: |
            inventoryTransactionTypes

- name: InventoryTransactions
  description: |
            inventoryTransaction

- name: Invoices
  description: |
            Invoices

- name: OrderDetails
  description: |
            Order Details

- name: OrderDetailsStatus
  description: |
            Order Details Status

- name: Orders
  description: |
            Orders

- name: OrdersStatus
  description: |
            Orders Status

- name: OrdersTaxStatus
  description: |
            Orders Tax Status

- name: SalesReports
  description: |
            Sales Reports

- name: Shippers
  description: |
            Shippers

- name: Products
  description: |
            Products

- name: PurchaseOrderDetails
  description: |
            Purchase Order Details

- name: PurchaseOrderStatus
  description: |
            Purchase Order Status

- name: PurchaseOrders
  description: |
            Purchase Order

- name: Suppliers
  description: |
            Suppliers

- name: Strings
  description: |
            Strings

- name: Company
  description: |
            Company

- name: Application
  description: |
            Application

- name: Customers
  description: |
            Application that can be used by a company

- name: CompanyApplicationToken
  description: |
            Application that can be used by a company

paths:
  /Employees:
    get:
      operationId: "Employees_listAll"
      summary: Lista todos os registros de Employees.
      description: |
          Limitado a 100 registros, para mais resultados usar o listRange em conjunto com count.
      tags:
        - Employees
      parameters:
      - name: "company"
        in: "query"
        description: "Filtra registros por company"
        type: string
      - name: "lastName"
        in: "query"
        description: "Filtra registros por lastName"
        type: string
      - name: "firstName"
        in: "query"
        description: "Filtra registros por firstName"
        type: string
      - name: "emailAddress"
        in: "query"
        description: "Filtra registros por emailAddress"
        type: string
      - name: "jobTitle"
        in: "query"
        description: "Filtra registros por jobTitle"
        type: string
      - name: "businessPhone"
        in: "query"
        description: "Filtra registros por businessPhone"
        type: string
      - name: "homePhone"
        in: "query"
        description: "Filtra registros por homePhone"
        type: string
      - name: "mobilePhone"
        in: "query"
        description: "Filtra registros por mobilePhone"
        type: string
      - name: "faxNumber"
        in: "query"
        description: "Filtra registros por faxNumber"
        type: string
      - name: "city"
        in: "query"
        description: "Filtra registros por city"
        type: string
      - name: "stateProvince"
        in: "query"
        description: "Filtra registros por stateProvince"
        type: string
      - name: "zipPostalCode"
        in: "query"
        description: "Filtra registros por zipPostalCode"
        type: string
      - name: "countryRegion"
        in: "query"
        description: "Filtra registros por countryRegion"
        type: string
      - name: "attachments"
        in: "query"
        description: "Filtra registros por attachments"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/.Employees'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      operationId: "Employees_create"
      summary: Cria um registro de Employees.
      tags:
        - Employees
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
              $ref: '#/definitions/.Employees'
      responses:
        '200':
          description: OK
          schema:
              $ref: '#/definitions/.Employees'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Employees/count:
    get:
      operationId: "Employees_count"
      summary: Retorna contagem dos registros de Employees.
      tags:
        - Employees
      parameters:
      - name: "company"
        in: "query"
        description: "Filtra registros por company"
        type: string
      - name: "lastName"
        in: "query"
        description: "Filtra registros por lastName"
        type: string
      - name: "firstName"
        in: "query"
        description: "Filtra registros por firstName"
        type: string
      - name: "emailAddress"
        in: "query"
        description: "Filtra registros por emailAddress"
        type: string
      - name: "jobTitle"
        in: "query"
        description: "Filtra registros por jobTitle"
        type: string
      - name: "businessPhone"
        in: "query"
        description: "Filtra registros por businessPhone"
        type: string
      - name: "homePhone"
        in: "query"
        description: "Filtra registros por homePhone"
        type: string
      - name: "mobilePhone"
        in: "query"
        description: "Filtra registros por mobilePhone"
        type: string
      - name: "faxNumber"
        in: "query"
        description: "Filtra registros por faxNumber"
        type: string
      - name: "city"
        in: "query"
        description: "Filtra registros por city"
        type: string
      - name: "stateProvince"
        in: "query"
        description: "Filtra registros por stateProvince"
        type: string
      - name: "zipPostalCode"
        in: "query"
        description: "Filtra registros por zipPostalCode"
        type: string
      - name: "countryRegion"
        in: "query"
        description: "Filtra registros por countryRegion"
        type: string
      - name: "attachments"
        in: "query"
        description: "Filtra registros por attachments"
        type: string
      produces:
      - "application/json"
      responses: 
        '200': 
          description: OK 
          schema: 
              $ref: '#/definitions/CountResult' 
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Employees/{from}/{to}:
    get:
      operationId: "Employees_listRange"
      summary: Lista os registros de Employees por faixa de posição.
      description: |
          Observar que a faixa inicia em 0 e o limite máximo é de 100 itens retornados total.
          Deve ser usado em conjunto com o count para determinar qtos itens tem no total, e no seu aplicativo fazer o controle de paginas.
          Por exemplo, ao usar um determinado filtro o count retorna o valor de 240 itens, e no seu aplicativo usa 20 itens por pagina:
          A primeira pagina vai ser from = 0 e o to = 19
          A segunda pagina vai ser from = 20 e o to = 39
          e assim sucessivamente até ler toda a lista.
          ATENÇÃO para usar o mesmo filtro (query parameters) no count e no listRange para evitar divergencia no tamanho da lista, lembrando que a lista pode aumentar caso novos registros sejam inseridos no banco, durante a leitura paginada.
      tags:
        - Employees
      parameters:
      - name: "from"
        in: "path"
        required: true
        type: "integer"
      - name: "to"
        in: "path"
        required: true
        type: "integer"
      - name: "company"
        in: "query"
        description: "Filtra registros por company"
        type: string
      - name: "lastName"
        in: "query"
        description: "Filtra registros por lastName"
        type: string
      - name: "firstName"
        in: "query"
        description: "Filtra registros por firstName"
        type: string
      - name: "emailAddress"
        in: "query"
        description: "Filtra registros por emailAddress"
        type: string
      - name: "jobTitle"
        in: "query"
        description: "Filtra registros por jobTitle"
        type: string
      - name: "businessPhone"
        in: "query"
        description: "Filtra registros por businessPhone"
        type: string
      - name: "homePhone"
        in: "query"
        description: "Filtra registros por homePhone"
        type: string
      - name: "mobilePhone"
        in: "query"
        description: "Filtra registros por mobilePhone"
        type: string
      - name: "faxNumber"
        in: "query"
        description: "Filtra registros por faxNumber"
        type: string
      - name: "city"
        in: "query"
        description: "Filtra registros por city"
        type: string
      - name: "stateProvince"
        in: "query"
        description: "Filtra registros por stateProvince"
        type: string
      - name: "zipPostalCode"
        in: "query"
        description: "Filtra registros por zipPostalCode"
        type: string
      - name: "countryRegion"
        in: "query"
        description: "Filtra registros por countryRegion"
        type: string
      - name: "attachments"
        in: "query"
        description: "Filtra registros por attachments"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/.Employees'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Employees/id/{value}:
    get:
      operationId: "Employees_byId_read"
      summary: Retorna o respectivo registro de Employees usando o ID da API.
      tags:
        - Employees
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/.Employees'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      operationId: "Employees_update" 
      summary: Altera o respectivo registro de Employees.
      tags:
        - Employees
      consumes:
      - "application/json"
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
          $ref: '#/definitions/.Employees'
      responses:
        '200':
          description: OK
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /InventoryTransactionTypes:
    get:
      operationId: "InventoryTransactionTypes_listAll"
      summary: Lista todos os registros de InventoryTransactionTypes.
      description: |
          Limitado a 100 registros, para mais resultados usar o listRange em conjunto com count.
      tags:
        - InventoryTransactionTypes
      parameters:
      - name: "typeName"
        in: "query"
        description: "Filtra registros por typeName"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/.InventoryTransactionTypes'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      operationId: "InventoryTransactionTypes_create"
      summary: Cria um registro de InventoryTransactionTypes.
      tags:
        - InventoryTransactionTypes
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
              $ref: '#/definitions/.InventoryTransactionTypes'
      responses:
        '200':
          description: OK
          schema:
              $ref: '#/definitions/.InventoryTransactionTypes'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /InventoryTransactionTypes/count:
    get:
      operationId: "InventoryTransactionTypes_count"
      summary: Retorna contagem dos registros de InventoryTransactionTypes.
      tags:
        - InventoryTransactionTypes
      parameters:
      - name: "typeName"
        in: "query"
        description: "Filtra registros por typeName"
        type: string
      produces:
      - "application/json"
      responses: 
        '200': 
          description: OK 
          schema: 
              $ref: '#/definitions/CountResult' 
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /InventoryTransactionTypes/{from}/{to}:
    get:
      operationId: "InventoryTransactionTypes_listRange"
      summary: Lista os registros de InventoryTransactionTypes por faixa de posição.
      description: |
          Observar que a faixa inicia em 0 e o limite máximo é de 100 itens retornados total.
          Deve ser usado em conjunto com o count para determinar qtos itens tem no total, e no seu aplicativo fazer o controle de paginas.
          Por exemplo, ao usar um determinado filtro o count retorna o valor de 240 itens, e no seu aplicativo usa 20 itens por pagina:
          A primeira pagina vai ser from = 0 e o to = 19
          A segunda pagina vai ser from = 20 e o to = 39
          e assim sucessivamente até ler toda a lista.
          ATENÇÃO para usar o mesmo filtro (query parameters) no count e no listRange para evitar divergencia no tamanho da lista, lembrando que a lista pode aumentar caso novos registros sejam inseridos no banco, durante a leitura paginada.
      tags:
        - InventoryTransactionTypes
      parameters:
      - name: "from"
        in: "path"
        required: true
        type: "integer"
      - name: "to"
        in: "path"
        required: true
        type: "integer"
      - name: "typeName"
        in: "query"
        description: "Filtra registros por typeName"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/.InventoryTransactionTypes'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /InventoryTransactionTypes/id/{value}:
    get:
      operationId: "InventoryTransactionTypes_byId_read"
      summary: Retorna o respectivo registro de InventoryTransactionTypes usando o ID da API.
      tags:
        - InventoryTransactionTypes
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/.InventoryTransactionTypes'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      operationId: "InventoryTransactionTypes_update" 
      summary: Altera o respectivo registro de InventoryTransactionTypes.
      tags:
        - InventoryTransactionTypes
      consumes:
      - "application/json"
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
          $ref: '#/definitions/.InventoryTransactionTypes'
      responses:
        '200':
          description: OK
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /InventoryTransactions:
    get:
      operationId: "InventoryTransactions_listAll"
      summary: Lista todos os registros de InventoryTransactions.
      description: |
          Limitado a 100 registros, para mais resultados usar o listRange em conjunto com count.
      tags:
        - InventoryTransactions
      parameters:
      - name: "transactionType.id"
        in: "query"
        description: "Filtra registros por transactionType usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "transactionCreatedDate"
        in: "query"
        description: "Filtra registros por transactionCreatedDate"
        type: string
      - name: "transactionModifiedDate"
        in: "query"
        description: "Filtra registros por transactionModifiedDate"
        type: string
      - name: "product.id"
        in: "query"
        description: "Filtra registros por product usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "quantity"
        in: "query"
        description: "Filtra registros por quantity"
        type: integer
        minimum: 0
      - name: "purchaseOrder.id"
        in: "query"
        description: "Filtra registros por purchaseOrder usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "customerOrder.id"
        in: "query"
        description: "Filtra registros por customerOrder usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "comments"
        in: "query"
        description: "Filtra registros por comments"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/.InventoryTransactions'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      operationId: "InventoryTransactions_create"
      summary: Cria um registro de InventoryTransactions.
      tags:
        - InventoryTransactions
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
              $ref: '#/definitions/.InventoryTransactions'
      responses:
        '200':
          description: OK
          schema:
              $ref: '#/definitions/.InventoryTransactions'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /InventoryTransactions/count:
    get:
      operationId: "InventoryTransactions_count"
      summary: Retorna contagem dos registros de InventoryTransactions.
      tags:
        - InventoryTransactions
      parameters:
      - name: "transactionType.id"
        in: "query"
        description: "Filtra registros por transactionType usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "transactionCreatedDate"
        in: "query"
        description: "Filtra registros por transactionCreatedDate"
        type: string
      - name: "transactionModifiedDate"
        in: "query"
        description: "Filtra registros por transactionModifiedDate"
        type: string
      - name: "product.id"
        in: "query"
        description: "Filtra registros por product usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "quantity"
        in: "query"
        description: "Filtra registros por quantity"
        type: integer
        minimum: 0
      - name: "purchaseOrder.id"
        in: "query"
        description: "Filtra registros por purchaseOrder usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "customerOrder.id"
        in: "query"
        description: "Filtra registros por customerOrder usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "comments"
        in: "query"
        description: "Filtra registros por comments"
        type: string
      produces:
      - "application/json"
      responses: 
        '200': 
          description: OK 
          schema: 
              $ref: '#/definitions/CountResult' 
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /InventoryTransactions/{from}/{to}:
    get:
      operationId: "InventoryTransactions_listRange"
      summary: Lista os registros de InventoryTransactions por faixa de posição.
      description: |
          Observar que a faixa inicia em 0 e o limite máximo é de 100 itens retornados total.
          Deve ser usado em conjunto com o count para determinar qtos itens tem no total, e no seu aplicativo fazer o controle de paginas.
          Por exemplo, ao usar um determinado filtro o count retorna o valor de 240 itens, e no seu aplicativo usa 20 itens por pagina:
          A primeira pagina vai ser from = 0 e o to = 19
          A segunda pagina vai ser from = 20 e o to = 39
          e assim sucessivamente até ler toda a lista.
          ATENÇÃO para usar o mesmo filtro (query parameters) no count e no listRange para evitar divergencia no tamanho da lista, lembrando que a lista pode aumentar caso novos registros sejam inseridos no banco, durante a leitura paginada.
      tags:
        - InventoryTransactions
      parameters:
      - name: "from"
        in: "path"
        required: true
        type: "integer"
      - name: "to"
        in: "path"
        required: true
        type: "integer"
      - name: "transactionType.id"
        in: "query"
        description: "Filtra registros por transactionType usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "transactionCreatedDate"
        in: "query"
        description: "Filtra registros por transactionCreatedDate"
        type: string
      - name: "transactionModifiedDate"
        in: "query"
        description: "Filtra registros por transactionModifiedDate"
        type: string
      - name: "product.id"
        in: "query"
        description: "Filtra registros por product usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "quantity"
        in: "query"
        description: "Filtra registros por quantity"
        type: integer
        minimum: 0
      - name: "purchaseOrder.id"
        in: "query"
        description: "Filtra registros por purchaseOrder usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "customerOrder.id"
        in: "query"
        description: "Filtra registros por customerOrder usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "comments"
        in: "query"
        description: "Filtra registros por comments"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/.InventoryTransactions'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /InventoryTransactions/id/{value}:
    get:
      operationId: "InventoryTransactions_byId_read"
      summary: Retorna o respectivo registro de InventoryTransactions usando o ID da API.
      tags:
        - InventoryTransactions
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/.InventoryTransactions'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      operationId: "InventoryTransactions_update" 
      summary: Altera o respectivo registro de InventoryTransactions.
      tags:
        - InventoryTransactions
      consumes:
      - "application/json"
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
          $ref: '#/definitions/.InventoryTransactions'
      responses:
        '200':
          description: OK
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Invoices:
    get:
      operationId: "Invoices_listAll"
      summary: Lista todos os registros de Invoices.
      description: |
          Limitado a 100 registros, para mais resultados usar o listRange em conjunto com count.
      tags:
        - Invoices
      parameters:
      - name: "order.id"
        in: "query"
        description: "Filtra registros por order usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "invoiceDate"
        in: "query"
        description: "Filtra registros por invoiceDate"
        type: string
      - name: "dueDate"
        in: "query"
        description: "Filtra registros por dueDate"
        type: string
      - name: "tax"
        in: "query"
        description: "Filtra registros por tax"
        type: number
      - name: "shipping"
        in: "query"
        description: "Filtra registros por shipping"
        type: number
      - name: "amountDue"
        in: "query"
        description: "Filtra registros por amountDue"
        type: number
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/.Invoices'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      operationId: "Invoices_create"
      summary: Cria um registro de Invoices.
      tags:
        - Invoices
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
              $ref: '#/definitions/.Invoices'
      responses:
        '200':
          description: OK
          schema:
              $ref: '#/definitions/.Invoices'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Invoices/count:
    get:
      operationId: "Invoices_count"
      summary: Retorna contagem dos registros de Invoices.
      tags:
        - Invoices
      parameters:
      - name: "order.id"
        in: "query"
        description: "Filtra registros por order usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "invoiceDate"
        in: "query"
        description: "Filtra registros por invoiceDate"
        type: string
      - name: "dueDate"
        in: "query"
        description: "Filtra registros por dueDate"
        type: string
      - name: "tax"
        in: "query"
        description: "Filtra registros por tax"
        type: number
      - name: "shipping"
        in: "query"
        description: "Filtra registros por shipping"
        type: number
      - name: "amountDue"
        in: "query"
        description: "Filtra registros por amountDue"
        type: number
      produces:
      - "application/json"
      responses: 
        '200': 
          description: OK 
          schema: 
              $ref: '#/definitions/CountResult' 
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Invoices/{from}/{to}:
    get:
      operationId: "Invoices_listRange"
      summary: Lista os registros de Invoices por faixa de posição.
      description: |
          Observar que a faixa inicia em 0 e o limite máximo é de 100 itens retornados total.
          Deve ser usado em conjunto com o count para determinar qtos itens tem no total, e no seu aplicativo fazer o controle de paginas.
          Por exemplo, ao usar um determinado filtro o count retorna o valor de 240 itens, e no seu aplicativo usa 20 itens por pagina:
          A primeira pagina vai ser from = 0 e o to = 19
          A segunda pagina vai ser from = 20 e o to = 39
          e assim sucessivamente até ler toda a lista.
          ATENÇÃO para usar o mesmo filtro (query parameters) no count e no listRange para evitar divergencia no tamanho da lista, lembrando que a lista pode aumentar caso novos registros sejam inseridos no banco, durante a leitura paginada.
      tags:
        - Invoices
      parameters:
      - name: "from"
        in: "path"
        required: true
        type: "integer"
      - name: "to"
        in: "path"
        required: true
        type: "integer"
      - name: "order.id"
        in: "query"
        description: "Filtra registros por order usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "invoiceDate"
        in: "query"
        description: "Filtra registros por invoiceDate"
        type: string
      - name: "dueDate"
        in: "query"
        description: "Filtra registros por dueDate"
        type: string
      - name: "tax"
        in: "query"
        description: "Filtra registros por tax"
        type: number
      - name: "shipping"
        in: "query"
        description: "Filtra registros por shipping"
        type: number
      - name: "amountDue"
        in: "query"
        description: "Filtra registros por amountDue"
        type: number
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/.Invoices'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Invoices/id/{value}:
    get:
      operationId: "Invoices_byId_read"
      summary: Retorna o respectivo registro de Invoices usando o ID da API.
      tags:
        - Invoices
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/.Invoices'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      operationId: "Invoices_update" 
      summary: Altera o respectivo registro de Invoices.
      tags:
        - Invoices
      consumes:
      - "application/json"
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
          $ref: '#/definitions/.Invoices'
      responses:
        '200':
          description: OK
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrderDetails:
    get:
      operationId: "OrderDetails_listAll"
      summary: Lista todos os registros de OrderDetails.
      description: |
          Limitado a 100 registros, para mais resultados usar o listRange em conjunto com count.
      tags:
        - OrderDetails
      parameters:
      - name: "order.id"
        in: "query"
        description: "Filtra registros por order usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "product.id"
        in: "query"
        description: "Filtra registros por product usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "quantity"
        in: "query"
        description: "Filtra registros por quantity"
        type: number
      - name: "unitPrice"
        in: "query"
        description: "Filtra registros por unitPrice"
        type: number
      - name: "discount"
        in: "query"
        description: "Filtra registros por discount"
        type: number
      - name: "status.id"
        in: "query"
        description: "Filtra registros por status usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "dateAllocated"
        in: "query"
        description: "Filtra registros por dateAllocated"
        type: string
      - name: "purchaseOrderId"
        in: "query"
        description: "Filtra registros por purchaseOrderId"
        type: integer
        minimum: 0
      - name: "inventoryId"
        in: "query"
        description: "Filtra registros por inventoryId"
        type: integer
        minimum: 0
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/.OrderDetails'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      operationId: "OrderDetails_create"
      summary: Cria um registro de OrderDetails.
      tags:
        - OrderDetails
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
              $ref: '#/definitions/.OrderDetails'
      responses:
        '200':
          description: OK
          schema:
              $ref: '#/definitions/.OrderDetails'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrderDetails/count:
    get:
      operationId: "OrderDetails_count"
      summary: Retorna contagem dos registros de OrderDetails.
      tags:
        - OrderDetails
      parameters:
      - name: "order.id"
        in: "query"
        description: "Filtra registros por order usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "product.id"
        in: "query"
        description: "Filtra registros por product usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "quantity"
        in: "query"
        description: "Filtra registros por quantity"
        type: number
      - name: "unitPrice"
        in: "query"
        description: "Filtra registros por unitPrice"
        type: number
      - name: "discount"
        in: "query"
        description: "Filtra registros por discount"
        type: number
      - name: "status.id"
        in: "query"
        description: "Filtra registros por status usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "dateAllocated"
        in: "query"
        description: "Filtra registros por dateAllocated"
        type: string
      - name: "purchaseOrderId"
        in: "query"
        description: "Filtra registros por purchaseOrderId"
        type: integer
        minimum: 0
      - name: "inventoryId"
        in: "query"
        description: "Filtra registros por inventoryId"
        type: integer
        minimum: 0
      produces:
      - "application/json"
      responses: 
        '200': 
          description: OK 
          schema: 
              $ref: '#/definitions/CountResult' 
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrderDetails/{from}/{to}:
    get:
      operationId: "OrderDetails_listRange"
      summary: Lista os registros de OrderDetails por faixa de posição.
      description: |
          Observar que a faixa inicia em 0 e o limite máximo é de 100 itens retornados total.
          Deve ser usado em conjunto com o count para determinar qtos itens tem no total, e no seu aplicativo fazer o controle de paginas.
          Por exemplo, ao usar um determinado filtro o count retorna o valor de 240 itens, e no seu aplicativo usa 20 itens por pagina:
          A primeira pagina vai ser from = 0 e o to = 19
          A segunda pagina vai ser from = 20 e o to = 39
          e assim sucessivamente até ler toda a lista.
          ATENÇÃO para usar o mesmo filtro (query parameters) no count e no listRange para evitar divergencia no tamanho da lista, lembrando que a lista pode aumentar caso novos registros sejam inseridos no banco, durante a leitura paginada.
      tags:
        - OrderDetails
      parameters:
      - name: "from"
        in: "path"
        required: true
        type: "integer"
      - name: "to"
        in: "path"
        required: true
        type: "integer"
      - name: "order.id"
        in: "query"
        description: "Filtra registros por order usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "product.id"
        in: "query"
        description: "Filtra registros por product usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "quantity"
        in: "query"
        description: "Filtra registros por quantity"
        type: number
      - name: "unitPrice"
        in: "query"
        description: "Filtra registros por unitPrice"
        type: number
      - name: "discount"
        in: "query"
        description: "Filtra registros por discount"
        type: number
      - name: "status.id"
        in: "query"
        description: "Filtra registros por status usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "dateAllocated"
        in: "query"
        description: "Filtra registros por dateAllocated"
        type: string
      - name: "purchaseOrderId"
        in: "query"
        description: "Filtra registros por purchaseOrderId"
        type: integer
        minimum: 0
      - name: "inventoryId"
        in: "query"
        description: "Filtra registros por inventoryId"
        type: integer
        minimum: 0
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/.OrderDetails'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
[...]
